/*COLORES FUENTES*/
$color-1: #4A4A4A;

/*COLORES FONDOS*/
$color-1: #FB5700;/*naranja*/
}

.bg-color-2
{
    background-color:#9FEB29;/*verde*/
}

.bg-color-3
{
    background-color: #FFC81D;
}

.bg-color-4
{
    background-color: #F79D26;
}

.bg-color-5
{
    background-color: #FD6239;
}

.bg-color-6
{
    background-color: #26CECE;
}

.bg-color-7
{
    background-color: #58965E;
}

.bg-color-8
{
    background-color: #D01FEA;
}
