img, object, embed, video {
    max-width: 100%;
}

.principal {
    /*padding-top: 100px;*/
    /*background: url("../img/fondohtml.jpg") !important;*/
    /*background-color: #e9e9e9;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    /*background: red;*/
}

.logo {
    padding-top: 5px !important;
}

.img-logo {
    width: 100%;
    height: auto;
    display: block;
}

body, html {
    height: 100%;
}

.prlx-1, .prlx-2, .prlx-3, .prlx-4, .prlx-5, .prlx-6 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: 100% auto;*/
    background-size: cover;
}

.prlx-1 {
    background-image: url("../img/rio_de_janeiro.jpg");
    min-height: 700px;
}

.prlx-2 {
    background-image: url("../img/san_francisco.jpg");
    min-height: 600px;
}

.prlx-3 {
    background-image: url("../img/macchu_picchu.jpg");
    min-height: 600px;
}

.prlx-4 {
    background-image: url("../img/san_francisco.jpg");
    min-height: 600px;
}

.prlx-5 {
    background-image: url("../img/salto_angel.jpg");
    min-height: 700px;
}

.prlx-6 {
    background-image: url("../img/caracas.jpg");
    min-height: 600px;
}

.prlx-7 {
    background-image: url("../img/puerto_la_cruz.jpg");
    min-height: 700px;
}

.prlx-8 {
    background-image: url("../img/san_diego_2.jpg");
    min-height: 600px;
}

nav {
    background-color: rgba(255, 255, 255, 0) !important;
    /*background-color: rgba(255, 255, 176, 0.85) !important;*/
    height: 100px !important;
    border-bottom: 0 !important;
    /*-webkit-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.25);*/
}

nav ul li a {
    margin-top: 30px !important;
    color: #007fff !important;
    font-weight: bold;
    font-size: 1.5em;
}

nav ul li a:hover {
    background-color: #fdc900 !important;
    border-radius: 10px !important;
    color: #007200 !important;
    font-weight: bolder !important;
    /*padding-top: 2px !important;
    padding-bottom: 2px !important;*/
}

.jumbo-1, .jumbo-2, .jumbo-3, .jumbo-4, .jumbo-5, .jumbo-6 {
    margin: auto;
    text-align: center;
    color: #ffffff;
}

.jumbo-1 {
    background-color: #26d797;
}

.jumbo-2 {
    background-color: #fd6239;
}

.jumbo-3 {
    background-color: #f59f06;
}

.jumbo-4 {
    background-color: #007fff;
}

.jumbo-5 {
    background-color: #fdc900;
}

.jumbo-6 {
    background-color: #047503;
}

#logoindex {
    display: block;
    margin: auto;
}

.pie {
    text-align: left;
    color: #ffffff;
    font-style: normal;
    font-size: 1em;
    background-color: #242830;
}

.resaltado-1 {
    color: #007fff;
    /*font-size: 1.2em;*/
    font-weight: bold;
}

.resaltado-2 {
    color: #047503;
    font-size: 1em;
    font-weight: normal;
    ;
}

.titulo-principal {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
}

.texto-principal {
    color: #ffffff;
    font-size: 2em;
    font-weight: normal;
}

.menu-fixed {
    background-color: rgba(0, 0, 0, 0.35) !important;
    /*background-color: rgba(252, 251, 176, 0.85) !important;*/
    height: 100px !important;
    border-bottom: 0 !important;
    -webkit-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.55);
}


/*.menu-fixed ul li a {
    padding: 5px 20px;
}*/

@media screen and (max-width:767px) {
    nav {
        /*background-color: #E9E9E9 !important;*/
        heigth: 200px;
    }
    nav ul li a {
        margin-top: 0px !important;
        background-color: #E9E9E9 !important;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
    }
    .titulo-principal {
        color: #ffffff;
        font-size: 1.5em;
        font-weight: bold;
    }
    .texto-principal {
        color: #ffffff;
        font-size: 1em;
        font-weight: normal;
    }
    .logo {
        padding-top: 0px !important;
    }
    .img-logo {
        width: 70%;
        height: auto;
        display: block;
    }
}

@media screen and (max-width:290px) {
    .img-logo {
        width: 50%;
        height: auto;
        display: block;
    }
}
