body {
    background: #fff;
}

.login {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #027901;
  border: 2px;
  border-radius: 10px;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #909090;
  border: 2px;
  border-radius: 10px;
}

.header-back {
    /*text-align: center;*/
    background: #F59F06;
    background-size: cover;
    /*position: relative;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 4.9rem;*/
    margin-top: 0px;
}

.img-header-back {
  padding-top: 10px;
  padding-bottom: 30px;
}
