/*COLORES*/
.color-1
{
    /*color: #FFFFFF;*/
    color: #4A4A4A;
}

.color-2
{
    color: #FFFFFF;
/*    color: #4A4A4A;*/
}


.bg-color-1
{
    background-color:#FB5700;/*naranja*/
}

.bg-color-2
{
    background-color:#9FEB29;/*verde*/
}

.bg-color-3
{
    background-color: #FFC81D;
}

.bg-color-4
{
    background-color: #F79D26;
}

.bg-color-5
{
    background-color: #FD6239;
}

.bg-color-6
{
    background-color: #26CECE;
}

.bg-color-7
{
    background-color: #58965E;
}

.bg-color-8
{
    background-color: #D01FEA;
}
/*FIN COLORES*/

/*MARGENES*/
margen-10
{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*FIN MARGENES*/
/*<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>*/
/*font*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Amaranth', sans-serif;
	color: #4a4a4a;
	font-weight: normal;
	margin: 0 0 10px 0;
}

textarea {
    resize: vertical;
}

body {
    background-image: url("../img/fondoweb-atom.jpg");
    background-size: cover;
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*font-family:Arial, sans-serif;*/
    font-family: 'Amaranth', sans-serif;
}

.header {
    /*text-align: center;*/
    /*background-image: url("../img/header_200.jpg");*/
    background: #fb5700;
    background-size: cover;
    /*position: relative;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 4.9rem;*/
    margin-top: 0px;
}

.oculto {
    display: none;
}

.img-header {
    margin-top: 15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    /*background-image: url("../img/header_200.jpg");*/
    /*background: #00B2C8;*/
    background: #00CFFF;
    background-size: cover;
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*padding: 0;
  margin: 0;*/
}

.banner
{
    font-size: 1.2em;
    font-weight: bold;
}

/*menu {
  background: #F59F06;
  color: #0072E5;
}*/

nav ul li a {
    /*margin-top: 30px !important;*/
    color: #fff !important;
    font-weight: bold;
    font-size: 1em;
    font-family:sans-serif;
}

nav ul li a:hover {
    background-color: rgba(2, 121, 1, 0.7) !important;
    /*border-radius: 10px !important;*/
    color: #FFCC33 !important;
    font-weight: bold !important;
    /*padding-top: 2px !important;
    padding-bottom: 2px !important;*/
}

nav ul li a:focus {
    background-color: rgba(2, 121, 1, 0.7) !important;
    /*border-radius: 10px !important;*/
    color: #FFCC33 !important;
    font-weight: bold !important;
    /*padding-top: 2px !important;
    padding-bottom: 2px !important;*/
}

.jumbo-1 {
    background-color: #9feb29;
    color: #333c87;
    text-align: center;
    /*margin:0;*/
    padding-top: 5px;
    padding-bottom: 0px;
}

.fondo-row-info
{
    background-color: #FFFFFF;
}

.fondo-row-tr
{
    background-color: rgba(255,255,255,0);
}

.resaltado-titulo
{
    font-weight: bold;
    font-size: 2em;
}

.resaltado-1
{
    font-weight: bold;
    font-size: 0.9em;
    padding-right: 5px;
}

.resaltado-2
{
    font-weight: bold;
    font-size: 1.3em;
}

.resaltado-info
{
    font-weight: light;
    font-size: 1.2em;
}

.altura-1{
    height: 1000px;
}

#slider .col-xs-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#enlaces {
    text-align: center;
}

#enlaces .col-xs-12, .col-sm-6, .col-md-6, .col-lg-4 {
    /*background: #FFF;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pie {
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-size: 1em;
    /*background-color: #0072E5;*/
    background-color: #24313A;
    background-size: cover;
}

@media (min-width: 768px) {
    /*Centra la barra de navegacion*/
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

@media (max-width: 768px) {
    .navbar-toggle {
        background-color: #027901;
    }
}

.navbar-toggle:hover {
    background-color: #027901 !important;
}

.navbar-toggle:focus {
    background-color: #0072E5 !important;
}

.navbar-default .navbar-toggle {
    border-color: #027901;
}
/*redes sociales*/
.box {
	width: 100%;
}
ul.share {
	width:180px;
    margin: 0 auto;
    padding: 0;
}
ul.share li {
    background: none;
	display: inline-block;
    cursor: pointer;
}
.box p{
    font-size: 24px;
}

/* CSS used here will be applied after bootstrap.css */
@media only screen and (min-width : 481px) {
    .row.equal-height {
        display: flex;
        flex-wrap: wrap;
    }
    .row.equal-height > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .row.equal-height.row:after,
    .row.equal-height.row:before {
        display: flex;
    }

    .row.equal-height > [class*='col-'] > .thumbnail,
    .row.equal-height > [class*='col-'] > .thumbnail > .caption {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }
    .row.equal-height > [class*='col-'] > .thumbnail > .caption > .flex-text {
        flex-grow: 1;
    }
    .row.equal-height > [class*='col-'] > .thumbnail > img {
        width: 100%;
        height: 200px; /* force image's height */

        /* force image fit inside it's "box" */
        -webkit-object-fit: cover;
           -moz-object-fit: cover;
            -ms-object-fit: cover;
             -o-object-fit: cover;
                object-fit: cover;
    }
}
