.navbar, .navbar-default, .navbar-nav {
  background-color: #F59F06 !important;
  background-size: cover !important;
  border: 0;
  margin-bottom: 0;
}

.dropdown-menu {
  background-color: #F59F06 !important;
}

.dropdown-menu li a{
  font-weight: bold;
}
