.navbar, .navbar-default, .navbar-nav {
  background-color: #fb5700 !important;
  /*background-color: rgba(255, 255, 255, 0);*/
  background-size: cover !important;
  border: 0;
  margin-bottom: 0;
}

.thumbnail {
    margin-bottom: 0;
}
/*
.nav-header > .navbar-toggle {
  background-color: #027901 !important;
}*/
/*
navbar-default .navbar-nav li a{
  font-weight: bold !important;
  font-size: 1em  !important;
  color: #0072E5 !important;
  font-weight: bold !important;
}*/

/*.navbar-default .navbar-nav > li a:hover {
  background-color: rgba(2,121,1,0.7) !important;
  color: #FFCC33 !important;
  font-weight: bolder !important;
  transition: 0.4s
}

.navbar-default .navbar-nav > li .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.35) !important;
  border-radius: 10px !important;
  color: #007200 !important;
  font-weight: bolder !important;
}
.navbar-default .navbar-nav > li a:focus {
  background-color: #fdc900 !important;
  border-radius: 10px !important;
  color: #007200 !important;
  font-weight: bolder !important;
}*/
