.gr-color-1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9cbb3+0,f9a981+41,f98d57+67,fb5700+100 */
    background: #f9cbb3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f9cbb3 0%, #f9a981 41%, #f98d57 67%, #fb5700 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f9cbb3 0%, #f9a981 41%, #f98d57 67%, #fb5700 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f9cbb3 0%, #f9a981 41%, #f98d57 67%, #fb5700 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f9cbb3', endColorstr='#fb5700', GradientType=0);
    /* IE6-9 */
}

.gr-color-2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffb5+1,ffffa5+41,ffff82+67,ffff00+100 */
    background: #ffffb5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffb5 1%, #ffffa5 41%, #ffff82 67%, #ffff00 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffb5 1%, #ffffa5 41%, #ffff82 67%, #ffff00 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffb5 1%, #ffffa5 41%, #ffff82 67%, #ffff00 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffb5', endColorstr='#ffff00', GradientType=0);
    /* IE6-9 */
}

.gr-color-3 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1eaa8+1,caea96+41,beea77+67,9feb29+100 */
    background: #d1eaa8;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d1eaa8 1%, #caea96 41%, #beea77 67%, #9feb29 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d1eaa8 1%, #caea96 41%, #beea77 67%, #9feb29 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d1eaa8 1%, #caea96 41%, #beea77 67%, #9feb29 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d1eaa8', endColorstr='#9feb29', GradientType=0);
    /* IE6-9 */
}

.gr-color-4 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfbba+1,fcfa9f+41,fdfc81+67,fcfa7e+100 */
    background: #fcfbba;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcfbba 1%, #fcfa9f 41%, #fdfc81 67%, #fcfa7e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfbba 1%, #fcfa9f 41%, #fdfc81 67%, #fcfa7e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfbba 1%, #fcfa9f 41%, #fdfc81 67%, #fcfa7e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcfbba', endColorstr='#fcfa7e', GradientType=0);
    /* IE6-9 */
}

.gr-color-5 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dcccc+1,99cccc+41,80cccc+67,02cccc+100 */
    background: #9dcccc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #9dcccc 1%, #99cccc 41%, #80cccc 67%, #02cccc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9dcccc 1%, #99cccc 41%, #80cccc 67%, #02cccc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9dcccc 1%, #99cccc 41%, #80cccc 67%, #02cccc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9dcccc', endColorstr='#02cccc', GradientType=0);
    /* IE6-9 */
}

.gr-color-6 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff3ce+1,ffedb5+41,ffe17f+67,ffc402+100 */
    background: #fff3ce;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fff3ce 1%, #ffedb5 41%, #ffe17f 67%, #ffc402 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fff3ce 1%, #ffedb5 41%, #ffe17f 67%, #ffc402 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fff3ce 1%, #ffedb5 41%, #ffe17f 67%, #ffc402 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff3ce', endColorstr='#ffc402', GradientType=0);
    /* IE6-9 */
}


/*COLORES PARA PAGINA DE MISION VISION...*/

.gr-color-7 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f8f7+1,f9c6ac+59,fb5700+100 */
    background: #f9f8f7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f9f8f7 1%, #f9c6ac 59%, #fb5700 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f9f8f7 1%, #f9c6ac 59%, #fb5700 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f9f8f7 1%, #f9c6ac 59%, #fb5700 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f7', endColorstr='#fb5700', GradientType=0);
    /* IE6-9 */
}

.gr-color-8 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9eae8+1,c5ea8a+59,98e819+100 */
    background: #e9eae8;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e9eae8 1%, #c5ea8a 59%, #98e819 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e9eae8 1%, #c5ea8a 59%, #98e819 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e9eae8 1%, #c5ea8a 59%, #98e819 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e9eae8', endColorstr='#98e819', GradientType=0);
    /* IE6-9 */
}

.gr-color-9 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffff9+1,ffffb2+59,ffff00+100 */
    background: #fffff9;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fffff9 1%, #ffffb2 59%, #ffff00 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fffff9 1%, #ffffb2 59%, #ffff00 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fffff9 1%, #ffffb2 59%, #ffff00 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fffff9', endColorstr='#ffff00', GradientType=0);
    /* IE6-9 */
}
